.preload {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100vh;
	background: #000000;
	z-index: 5000;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.4s ease-in-out all;

	&.preload-finished {
		opacity: 0;
		pointer-events: none;
	}
}
